---
- name: Backend Setup
  hosts: backend
  gather_facts: false

  tasks:
    - name: Install counter (backend)
      command:
        cmd: slu install-bin counter
        creates: /usr/local/bin/counter
    - name: Install Redis
      apt:
        name: redis
        state: present
    - name: Create counter-backend systemd service
      template:
        src: ../templates/counter-backend.service.j2
        dest: /etc/systemd/system/counter-backend.service
        owner: root
        group: root
        mode: 0644
      notify:
        -  Restart counter-backend service
    - name: Install Caddy
      apt:
        name: caddy
        state: present
    - name: Create Caddyfile for backend
      template:
        src: ../templates/Caddyfile.backend.j2
        dest: /etc/caddy/Caddyfile
        owner: root
        group: root
        mode: 0644
      notify:
        -  Restart backend caddy

    - name: See
      debug:
        msg: "See: https://{{ ansible_host }}"

  handlers:
    - name: Restart counter-backend service
      systemd:
        name: counter-backend
        state: restarted
        daemon_reload: true

    - name: Restart backend caddy
      systemd:
        name: caddy
        state: restarted
