---
- name: Backend Setup
  hosts: backend
  gather_facts: false

  tasks:
    - name: Install counter (backend)
      command:
        cmd: slu install-bin counter
        creates: /usr/local/bin/counter
    - name: Install Redis
      apt:
        name: redis
        state: present

- name: Backend Systemd Service
  hosts: backend
  gather_facts: false

  vars:
    systemd_service_name: counter-backend
    systemd_service_exec_start: /usr/local/bin/counter
    systemd_service_environment:
      EXTRA_TEXT: "Hello Generali"

  roles:
    - systemd_service

- name: Backend Caddy
  hosts: backend
  gather_facts: false

  tasks:
    - name: Install Caddy
      apt:
        name: caddy
        state: present
    - name: Create Caddyfile for backend
      template:
        src: ../templates/Caddyfile.backend.j2
        dest: /etc/caddy/Caddyfile
        owner: root
        group: root
        mode: 0644
      notify:
        -  Restart backend caddy

    - name: See
      debug:
        msg: "See: https://{{ ansible_host }}"

  handlers:
    - name: Restart backend caddy
      systemd:
        name: caddy
        state: restarted
