---
- name: Frontend Setup
  hosts: frontend
  gather_facts: false

  tasks:
    - name: Install counter-frontend-go (frontend)
      command:
        cmd: slu install-bin counter-frontend-go
        creates: /usr/local/bin/counter-frontend-go
    - name: Create counter-frontend systemd service
      template:
        src: ../templates/counter-frontend.service.j2
        dest: /etc/systemd/system/counter-frontend.service
        owner: root
        group: root
        mode: 0644
      notify:
        -  Restart counter-frontend service
    - name: Install Caddy
      apt:
        name: caddy
        state: present
    - name: Create Caddyfile for frontend
      template:
        src: ../templates/Caddyfile.frontend.j2
        dest: /etc/caddy/Caddyfile
        owner: root
        group: root
        mode: 0644
      notify:
        -  Restart frontend caddy

    - name: See
      debug:
        msg: "See: https://{{ ansible_host }}"

  handlers:
    - name: Restart counter-frontend service
      systemd:
        name: counter-frontend
        state: restarted
        daemon_reload: true

    - name: Restart frontend caddy
      systemd:
        name: caddy
        state: restarted
